// $gray-color: rgb(71, 71, 71);
$gray-color: rgb(134, 133, 133);

.board {
    background: rgb(98,2,69);
    background: linear-gradient(100deg, rgba(98,2,69,1) 3%, rgba(181,11,163,1) 46%, rgba(209,0,255,1) 100%);
    
    &__header {
        text-align: center;
        padding: 0.5rem;
        
        .header {
            font-weight: 100;
            font-size: 3rem;
            letter-spacing: 2px;
            color: #fff;
        }
    }

    &__dices {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .dice {
            padding: .2rem;
            font-size: 3.5rem;
            color: #fff;
            cursor: pointer;

            .fas {
                box-shadow: 10px 10px 58px -11px rgba(0,0,0,0.75);
            }
        }

        .dice-rolling {
            animation: rolling 1s linear infinite;
        }

        .dice-freeze {
            color: $gray-color;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;

        .button {
            background: rgb(1,196,252);
            background: linear-gradient(100deg, rgba(1,196,252,1) 3%, rgba(11,91,181,1) 53%, rgba(0,14,255,1) 100%);
            border: none;
            border-radius: 10px;
            padding: 0.5rem;
            min-width: 200px;
            color: #fff;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 100;
            outline: none;

            &-disabled {
                background: $gray-color;
                cursor: not-allowed;
            }
        }

    }
}

@keyframes rolling {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}