@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400&display=swap");
body {
  background: #020024;
  background: linear-gradient(225deg, #060244 3%, #091379 38%, #00d4ff 100%);
  width: 100%;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App {
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 61px -19px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 61px -19px rgba(0, 0, 0, 0.75);
  max-width: 700px;
  min-width: 300px;
  width: 100vw;
}

.board {
  background: #620245;
  background: linear-gradient(100deg, #620245 3%, #b50ba3 46%, #d100ff 100%);
}

.board__header {
  text-align: center;
  padding: 0.5rem;
}

.board__header .header {
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #fff;
}

.board__dices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board__dices .dice {
  padding: .2rem;
  font-size: 3.5rem;
  color: #fff;
  cursor: pointer;
}

.board__dices .dice .fas {
  -webkit-box-shadow: 10px 10px 58px -11px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 58px -11px rgba(0, 0, 0, 0.75);
}

.board__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
}

.board__button .button {
  background: #01c4fc;
  background: linear-gradient(100deg, #01c4fc 3%, #0b5bb5 53%, #000eff 100%);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  min-width: 200px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 100;
  outline: none;
}

.board__button .button-disabled {
  background: #474747;
  cursor: not-allowed;
}

.scores-container {
  background-color: #fff;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  font-weight: 100;
}

.scores-container .scores {
  margin: 1em 0;
}

.scores-container .scores__header {
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  font-weight: 300;
}

.scores-container .scores__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #000;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.scores-container .scores__line:hover {
  background-color: #e2f2fd;
}

.scores-container .scores__line--crossed, .scores-container .scores__line--crossed:hover {
  background-color: #62befc;
  cursor: not-allowed;
}

.scores-container .scores__line--crossed span, .scores-container .scores__line--crossed:hover span {
  text-decoration: line-through;
}
/*# sourceMappingURL=styles.css.map */